<!-- Template card for setting product items -->
<mat-card class="product-card">
    <mat-card-title>
        {{item.name}}
    </mat-card-title>
    <img src={{item.imageUrl}} width="100%" height="100%" alt="Product image">
    <mat-card-content>
        {{item.price}}
    </mat-card-content>
    <mat-card-actions align="end">
        <button (click)="addCartClicked(item)" mat-raised-button color="primary">ADD TO CART</button>
        <button (click)="detailsClicked()" mat-stroked-button color="primary">VIEW DETAILS</button>
    </mat-card-actions>
</mat-card>
