<mat-toolbar color="primary">
    <span>
    <!-- Icon from <a href="https://icons8.com/icon/80319/home">Home icon by Icons8</a> -->
    <!-- Page icon and title and navigation to home page -->
    <a class="home" href="/">
        <img src="https://img.icons8.com/flat_round/32/000000/home--v1.png"/>
    </a>
    </span>
    <span>
    <a class="home" href="/">FlotsamShop</a>
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>
    
    <!-- Item search -->
    <span>
        <fa-icon [icon]="faSearch" size="lg"></fa-icon>
        <mat-form-field class="search_input">
            <input matInput type="search" placeholder="Search items..." (keyup.enter)="onEnter()">
        </mat-form-field>
    </span>

    <!-- Shopping cart -->
    <span>
        <a href="/shop-cart">
            <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
            {{shopCartItemCount}}
        </a>
    </span>

    <!-- User login -->
    <span>
        <a href="/login">
            <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
        </a>
    </span>
</mat-toolbar>