.fill-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

a {
    color:white;
    text-decoration: none;
    margin-left: 20px;
}

img {
    padding-top: 5px;
}

.home {
    margin: 5px;
}

.search_input {
    margin-left: 5px;
}

a:hover {
    color: gray;
}