<mat-toolbar color="primary">
    <span>
     <a href="/">FlotsamShop</a>
    </span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>
    
    <!-- Item search -->
    <span>
        <fa-icon [icon]="faSearch" size="lg"></fa-icon>
        <mat-form-field class="example-full-width">
            <input matInput type="search" placeholder="Search items..."> 
        </mat-form-field>
    </span>

    <!-- Shopping cart -->
    <span>
        <a href="">
            <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
            {{shopCartItemCount}}
        </a>
    </span>

    <!-- User login -->
    <span>
        <a href="">
            <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
        </a>
    </span>
</mat-toolbar>