.login-container {
    text-align: center;
}

.form-container {
    width: 320px;
    margin: 0px auto;
    margin-top: 200px;
}

.hidden {
    display: none;
}

.form-field {
    display: block;
}

a, button {
    margin-right: 30px;
}