.form-container {
    display: flex; justify-content:center; align-items:center;
}

.hidden {
    display: none;
}

.form-field {
    width: 75%;
    max-width: 250px;
}

.login-form {
    padding: 15px;
}

button {
    color: #7b1fa2;
    margin: 10px;
}