<!-- Login form -->
<div class="login-container">
  <div class="form-container">
    <form [formGroup]="loginForm" (submit)="submit()" class="login-form">
        <legend><h2>Login</h2></legend>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>E-mail:</mat-label>
          <input matInput type="text" placeholder="Username...">
        </mat-form-field>
        
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Password:</mat-label>
          <input matInput type="password" placeholder="Password...">
        </mat-form-field>
        
        <button type="submit" mat-button color="primary"><span>Login</span></button>
        <a mat-button>Sign up</a>
    </form>
  </div>
</div>
