<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isTablet$ | async) || (isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isTablet$ | async) || (isHandset$ | async)  ? 'over' : 'side'">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <!-- Shoppin cart -->
      <span>
        <a mat-list-item [routerLink]="['/shop-cart']">
             Shopping cart
            <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
            {{shopCartItemCount}}
        </a>
      </span>
      <!-- User login -->
      <span *ngIf="!authService.loggedIn()">
        <a mat-list-item [routerLink]="['/login']">
            Login
        </a>
      </span>
      <!-- Dashboard -->
      <span *ngIf="authService.loggedIn()">
        <a mat-list-item [routerLink]="['/dashboard']">
            Dashboard
        </a>
      </span>
      <!-- Profile -->
      <span *ngIf="authService.loggedIn()">
        <a mat-list-item [routerLink]="['/profile']">
            Profile
        </a>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isTablet$ | async) || (isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="home">
        <!-- Icon from <a href="https://icons8.com/icon/80319/home">Home icon by Icons8</a> -->
        <!-- Page icon and title and navigation to home page -->
        <a [routerLink]="['/']">
            <img src="https://img.icons8.com/flat_round/32/000000/home--v1.png"/>
        </a>
      </span>
      <span *ngIf="!(isTablet$ | async) && !(isHandset$ | async)"><a [routerLink]="['/']">FlotsamShop</a></span>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-space"></span>
      <!-- Search field -->
      <span>
        <fa-icon [icon]="faSearch"></fa-icon>
        <mat-form-field class="search_input">
            <input matInput type="search" placeholder="Search items..." (keyup.enter)="onEnter()">
        </mat-form-field>
      </span>
      <!-- Shopping cart -->
      <span *ngIf="!(isTablet$ | async) && !(isHandset$ | async)">
        <a [routerLink]="['/shop-cart']">
            <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
            {{shopCartItemCount}}
        </a>
      </span>
      <!-- Dashboard -->
      <span *ngIf="!(isTablet$ | async) && !(isHandset$ | async) && authService.loggedIn() && authService.isAdmin()">
        <a [routerLink]="['/dashboard']">
            Dashboard
        </a>
      </span>
      <!-- Profile -->
      <span *ngIf="!(isTablet$ | async) && !(isHandset$ | async) && authService.loggedIn()">
        <a [routerLink]="['/profile']">
          <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
        </a>
      </span>
      <!-- User login -->
      <span *ngIf="!(isTablet$ | async) && !(isHandset$ | async) && !authService.loggedIn()">
          <a [routerLink]="['/login']">
              <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
          </a>
      </span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
